{%extends 'partials/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'store/main.css' %}"/>
    <div class="row">
        <div class="col-lg-12">
            <div class="box-element">
                <a class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Ir para a Loja</a>
            </div>
        </div>
    </div>
    <div class="products-container">
        <div class="product-header">
            <h5 class="title">PRODUTOS</h5>
            <h5 class="price">PREÇO</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
        </div>
        <div class="products">
                    
            </div>

    </div>
</div>

<script src="https://code.iconify.design/2/2.1.1/iconify.min.js"></script>
<script src="{% static 'store/main.js'%}"></script>

{% endblock %}