{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form action="#" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{login_form|crispy}}
            
        </div>
        <a href="{%url 'user_register' %}">Ainda não é cadastrado ? Cadastre-se aqui</a>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success btn-block btn-lg"> Entrar </button>
        </div>
        <div class="col-md-2">
            <a href="{%url 'store' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Voltar
            </a>
        </div>
    </div>
{% endblock %}