{%extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<form action="#" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            {{form.username.errors}}
            {{form.username|as_crispy_field}}

            {{form.email.errors}}
            {{form.email|as_crispy_field}}

            {{form.password1|as_crispy_field}}

            {{form.password2.errors}}
            {{form.password2|as_crispy_field}}
            
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-2">
            <button type="submit" class="btn btn-success btn-block btn-lg"> Confirmar </button>
        </div>
        <div class="col-md-2">
            <a href="{%url 'store' %}" class="btn btn-secondary btn-block btn-lg">
                <i class="fas fa-stream"></i> Voltar
            </a>
        </div>
    </div>

{% endblock %}